@charset "UTF-8";

@font-face {
  font-family: SalesforceSans;
  src: url("../fonts/SalesforceSans-Regular.woff") format("woff"),
       url("../fonts/SalesforceSans-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: SalesforceSans;
  src: url("../fonts/SalesforceSans-Bold.woff") format("woff"),
       url("../fonts/SalesforceSans-Bold.ttf") format("truetype");
  font-weight: bold;
}

/* =========================================================

  common

========================================================= */
html {
  font-family: SalesforceSans, "Helvetica Neue", Helvetica, Arial, "游ゴシック", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", sans-serif;
}

body {
  word-wrap: break-word;
  line-height: 1.8;
}

.wrapper {
  padding: 88px 40px;
}

.pc-only {
  display: block;
}

.sp-only {
  display: none;
}

a {
  color: #48a1e3;
}

a:hover {
  color: #00A1E0;
}

@media screen and (max-width: 768px) {
  .pc-only {
    display: none;
  }
  .sp-only {
    display: block;
  }
}

/* ******************************
      header
****************************** */
header {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
     -moz-justify-content: center;
      -ms-justify-content: center;
          justify-content: center;
            -ms-flex-pack: center;
}
.header_wrapper {
  position: absolute;
  max-width: 1334px;
  width: 100%;
  padding: 40px 88px; 
  box-sizing: border-box;
}

.header_logo {
  color: #fff;
  font-weight: normal;
}

.header_logo > div {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
     -moz-align-items: center;
      -ms-align-items: center;
          align-items: center;
  margin-bottom: 8px;
}

.header_logo img:not(:last-child) {
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .header_wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
       -moz-justify-content: center;
        -ms-justify-content: center;
            justify-content: center;
              -ms-flex-pack: center;
    padding: 20px 0;
  }
}

/* ******************************
      mainvisual
****************************** */
.mv {
  background: url(../img/bg.png) top center no-repeat;
  background-size: cover; }

.mv_wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
     -moz-justify-content: space-between;
      -ms-justify-content: space-between;
          justify-content: space-between;
            -ms-flex-pack: space-between;
  -webkit-align-items: flex-end;
     -moz-align-items: flex-end;
      -ms-align-items: flex-end;
          align-items: flex-end;
  max-width: 1334px;
  height: 800px;
  padding: 140px 88px 90px;
  box-sizing: border-box;
  margin: 0 auto; }

.mv .text-block {
  max-width: 690px;
  margin-right: 16px;
}

.mv_heading {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.8;
  color: #fff;
  margin-bottom: 200px;
}

.mv_app-banner {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  max-width: 628px;
  width: 100%;
}

.mv_app-banner--appstore,
.mv_app-banner--googleplay,
.mv_app-banner--appexchange {
  margin-right: 16px;
}

.mv_app-banner img {
  width: 100%;
  height: 100%;
}

.mv_app-banner a:hover img {
  opacity: 0.8;
}


@media screen and (max-width: 768px) {
  .mv {
    background: url(../img/bg.png) top center no-repeat;
    background-size: cover; }
  .mv_wrapper {
    -webkit-flex-flow: column-reverse;
     -moz-flex-flow: column-reverse;
      -ms-flex-flow: column-reverse;
          flex-flow: column-reverse;
    -webkit-align-items: center;
       -moz-align-items: center;
        -ms-align-items: center;
            align-items: center;
    height: 100%;
    padding: 120px 0 40px;
    text-align: center; }
  .mv .text-block {
    padding: 0 32px;
    box-sizing: border-box;
    margin-right: 0;
  }
  .mv .img-block img {
    max-width: 172px;
    margin-bottom: 32px;
  }
  .mv_heading {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 32px;
  }
  .mv_app-banner {
    -webkit-justify-content: center;
       -moz-justify-content: center;
        -ms-justify-content: center;
            justify-content: center;
              -ms-flex-pack: center;
    margin: 0 auto;
  }
  .mv_app-banner--appstore {
    margin-right: 20px;
  } .mv_app-banner--googleplay {
    margin-right: 0;
  }
  .mv_app-banner--appexchange {
    margin-right: 20px;
  }
}

/* ******************************
      benefits
****************************** */

.benefits {
  text-align: center;
  color: #012F6E;
}

.benefits_wrapper {
  padding: 88px 40px;
  box-sizing: border-box;
}

.benefits_heading {
  font-size: 36px;
  margin-bottom: 96px;
  font-weight: bold;
}

.benefits_list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}

.benefits_list_item {
  margin-right: 7.5vw;
}

.benefits_list_item:first-child {
  margin-right: 10vw;
}

.benefits_list_item:last-child {
  margin-right: 0;
}


.benefits_list_item_img {
  height: 80px;
  margin-bottom: 40px;
}

.benefits_list_item:nth-child(2) img {
  height: 84px;
  margin: 0 0 36px;
}

.benefits_list_item_heading {
  font-size: 24px;
  margin-bottom: 16px;
  font-weight: bold;
}

.benefits_list_item_text {
  font-size: 18px;
}

/* SP view */
@media screen and (max-width: 768px) {
  .benefits_wrapper {
    padding: 64px 32px;
  }
  .benefits_heading {
    font-size: 24px;
    margin-bottom: 64px;
  }
  .benefits_list {
    -webkit-flex-flow: column;
       -moz-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-align-items: center;
       -moz-align-items: center;
        -ms-align-items: center;
            align-items: center;
  }
  .benefits_list_item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 64px;
  }
  .benefits_list_item_img {
    margin-bottom: 24px;
  }
  .benefits_list_item_heading {
    font-size: 20px;
    margin-bottom: 8px;
  }


}

/* ******************************
      features
****************************** */
.features {
  background: url(../img/bg.png) top center no-repeat;
  background-size: cover;
  color: #fff;
}

.features_wrapper {
  padding: 88px 40px;
}

.features_list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
     -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: center;
     -moz-justify-content: center;
      -ms-justify-content: center;
          justify-content: center;
            -ms-flex-pack: center;
  max-width: 1160px;
  margin: 0 auto;
}

.features_list_item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
     -moz-justify-content: space-between;
      -ms-justify-content: space-between;
          justify-content: space-between;
            -ms-flex-pack: space-between;
  -webkit-align-items: center;
     -moz-align-items: center;
      -ms-align-items: center;
          align-items: center;
  width: 100%;
  max-width: 880px;
}

.features_list_item:nth-child(2) {
  max-width: 1160px;
}

.features_list_item .img-block, 
.features_list_item .text-block {
  padding: 2vw;
  box-sizing: border-box;
}

.features_list_item img {
  max-width: 100%;
  height: auto;
}

.features_list_item:not(:last-child) {
  margin-bottom: 20vh;
}

.features_list_item:nth-child(even) {
  -webkit-flex-flow: row-reverse;
     -moz-flex-flow: row-reverse;
      -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;
}

.features_list_item_heading {
  display: inline;
  line-height: 2;
  font-size: 32px;
  background: linear-gradient(transparent 92%, #00A1E0 0%);
  padding: 0 0 8px;
  margin-bottom: 28px;
}

.features_list_item_text {
  margin-top: 24px;
  font-size: 18px;
}

.features_list_item .text-block {
  display: inline-block;
  max-width: 562px;
}

@media screen and (max-width: 768px) {
  .features {
    text-align: center;
  }
  .features_wrapper {
    padding: 64px 32px;
  }
  .features_list_item,
  .features_list_item:nth-child(even) {
    -webkit-flex-flow: column;
       -moz-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  
  .features_list_item:not(:last-child) {
    margin-bottom: 64px;
  }
  .features_list_item_heading {
    font-size: 24px;
  }

}

  
/* ******************************
      others
****************************** */
.others {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
     -moz-justify-content: center;
      -ms-justify-content: center;
          justify-content: center;
            -ms-flex-pack: center;
  text-align: center;
  color: #012f6e;
}

.others_wrapper {
  padding: 88px 40px;
  box-sizing: border-box;
}

.num {
  margin-bottom: 88px;
}

.num_heading {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 96px;
}

.num_list {
  margin-bottom: 95px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
     -moz-justify-content: space-between;
      -ms-justify-content: space-between;
          justify-content: space-between;
            -ms-flex-pack: space-between;
}

.num_list_item_img-block {
  position: relative;
  width: 100%; /* width: 216px; */
  height: auto;
  margin-bottom: 40px;
}

.num_list_item_img-block:before {
  content: "";
  display: block;
  padding-top: 30%;
}

.num_list_item_img-block img {
  position: absolute;
  top: 0; 
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: 100%;
}

.num_list_item {
  max-width: 250px;
}

.num_list_item:not(:last-child) {
  margin-right: 6vw;
}


.num h3 {
  margin-bottom: 30px;
  font-size: 36px;
}

.security_wrapper {
  max-width: 770px;
  margin: 0 auto;
}

.security_icon {
  margin-bottom: 24px;
}

.security_heading {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 32px;
}



/* SP view */
@media screen and (max-width: 768px) {
  .others_wrapper {
    padding: 64px 32px;
    box-sizing: border-box;
  }
  .num_heading {
    font-size: 24px;
    margin-bottom: 64px;
  }
  .num_list {
    -webkit-flex-flow: column;
       -moz-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
  -webkit-align-items: center;
     -moz-align-items: center;
      -ms-align-items: center;
          align-items: center;
  }
  .num_list_item:not(:last-child) {
    -webkit-flex-flow: column;
       -moz-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
    margin-right: 0;
    margin-bottom: 64px;
  }

.num h3 {
  margin-bottom: 20px;
  font-size: 24px;
}

  .num iframe {
    width: 100%;
    height: 234px;
  }

  .security_heading {
    font-size: 24px;
    margin-bottom: 40px;
  }
  .security_text {
    text-align: center;
  }
}


/* ******************************
      faq
****************************** */
.faq {
  max-width: 1160px;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  color: #012f6e;
}


.faq a:hover {
  text-decoration: underline;
}

.faq_wrapper {
  padding: 0 10% 100px;
  box-sizing: border-box;
}

.faq_heading {
  margin-bottom: 48px;
  font-size: 36px;
  font-weight: bold;
}

.faq_wrapper dl {
  text-align: left;
}

.faq_wrapper dt {
  margin: 50px 0 15px;
  font-weight: bold;
  font-size: 18px;
  background: linear-gradient(transparent 95%, #00A1E0 0%);
  padding: 0 0 8px;
}

.faq_wrapper dd {
  text-align: left;
  letter-spacing: 0;
}


/* SP view */
@media screen and (max-width: 768px) {
  .faq_wrapper {
    padding: 64px 32px;
    box-sizing: border-box;
  }

.faq_heading {
  font-size: 24px;
}
}


/* ******************************
      apps
****************************** */
.apps {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
     -moz-justify-content: center;
      -ms-justify-content: center;
          justify-content: center;
            -ms-flex-pack: center;
  margin-bottom: 88px;
  padding: 0 10%;
  box-sizing: border-box;
  color: #012f6e;
}

.apps_wrapper {
  padding: 108px 10% 130px;
  max-width: 1160px;
  box-sizing: border-box;
  background: #00A1E0;
  background: -webkit-gradient(linear, left top, right bottom, from(#42BDE3), to(#00A1E0));/* Webkit系 */
  background: -moz-linear-gradient(left top, #42BDE3, #00A1E0);/* Mozilla系 */
  background: -ms-linear-gradient(left top, #42BDE3, #00A1E0);/* IE10+ */
  border-radius: 4px;
}

.apps_heading {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 64px;
  color: #fff;
}

.apps_text {
  text-align: left;
  margin-bottom: 80px;
}

.apps_app-banner {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
     -moz-justify-content: center;
      -ms-justify-content: center;
          justify-content: center;
            -ms-flex-pack: center;
}

.apps_app-banner>div:not(:last-child) img {
  margin-right: 108px;
}

.apps_app-banner--appstore img {
  width: 165px;
}

.apps_app-banner--googleplay img {
  width: 186px;
}

.apps_app-banner--appexchange img {
  width: 188px;
}

.apps_app-banner a:hover img {
  opacity: 0.7;
}

/* SP view */
@media screen and (max-width: 768px) {
  .apps {
    margin-bottom: 0;
    padding: 0;
  }
  .apps_wrapper {
    padding: 64px 32px;
  }
  .apps_heading {
    font-size: 24px;
    margin-bottom: 40px;
  }
  .apps_text {
    text-align: center;
    margin-bottom: 40px;
  }
  .apps_app-banner {
    -webkit-flex-flow: column;
       -moz-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
  -webkit-align-items: center;
     -moz-align-items: center;
      -ms-align-items: center;
          align-items: center;
  }
  .apps_app-banner>div:not(:last-child) img {
    margin-right: 0;
    margin-bottom: 24px;
  }

    .apps_app-banner .apps_app-banner--appstore img {
      width: 186px;
}

}

/* ****************************
    footer
**************************** */
footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
     -moz-justify-content: center;
      -ms-justify-content: center;
          justify-content: center;
            -ms-flex-pack: center;
  color: #fff;
  background: #012f6e;
}

.footer_wrapper {
  width: 100%;
  padding: 55px 88px 40px;
  box-sizing: border-box;
}


.footer_upper,
.footer_lower {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
}

.footer_upper_logo { 
  width: 80px;
  height: auto;
  margin-bottom: 24px;
}

.footer_upper_description {
  font-size: 13px;
  max-width: 375px;
}

.footer_upper_description:first-of-type {
  margin-bottom: 20px;
}


.footer_upper_nav {
  text-align: right;
}

footer a {
  color: #fff;
}

.footer_hr {
  margin: 50px 0 56px;
  border: solid 1px #fff;
}

.footer_lower_copy { 
  font-size: 13px;
  max-width: 320px;
}

@media screen and (max-width: 768px) {
  footer {
    text-align: center;
  }
  .footer_wrapper {
    padding: 64px 32px;
  }
  .footer_upper,
  .footer_lower {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column;
       -moz-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-align-items: center;
       -moz-align-items: center;
        -ms-align-items: center;
            align-items: center;
  }
  .footer_upper_logo {
    margin-bottom: 40px;
  }
  .footer_upper_description {
    font-size: 18px;
    margin-bottom: 64px;
  }
  .footer_upper_nav {
    text-align: center;
    font-size: 18px;
    line-height: 2.6;
  }
  .footer_hr {
    margin: 64px 0;
  }
  .footer_lower {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column-reverse;
       -moz-flex-flow: column-reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
  }
  .footer_lower_logo {
    margin-bottom: 64px;
  }
}
