@chaset "UTF-8";
html, body, div, span, figure, img, fieldset,
a, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, small, strong, dl, dt, dd, ol, ul, li,
table, caption, tbody, tfoot, thead, tr, th, td{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-size: 1em;
}

html{
  font-size: 62.5%;
  background: #fff;
}

body {
  font-size: 16px;
  font-size: 1.6rem;
}

img {
  vertical-align: bottom;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}